{% extends "__base.html" %} {% load static %} {% block body %}

    <main class="container">
        <div class="row h-100">
            <aside
                    class="col-md-2 bg-light h-100 p-0 d-flex py-5"
            >
                {% include "__sidebar.html" with action=template %}
            </aside>
            <section class="col-md-10 ps-5 py-5">
                <div class="row">
                    <nav class="col-12" aria-label="breadcrumb">
                        <ol class="breadcrumb d-flex bg-white mt-5 p-2">
                            <li class="breadcrumb-item">
                                <a class="text-decoration-none" href="{% url 'order' %}">Tableau de bord</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Faq
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="card-title fs-4 fw-semibold mb-4">Faq</div>
                            <div class="row">
                                <form action="{% url 'chat' %}" method="post">
                                    {% csrf_token %}

                                    {% if success %}
                                        <div class="alert alert-info alert-dismissible fade show mt-3"
                                             role="alert">
                                            <strong>{{ success }}</strong>
                                            <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="alert"
                                                    aria-label="Close"
                                            ></button>
                                        </div>
                                    {% endif %}
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show mt-3"
                                                     role="alert">
                                                    <strong>{{ error|escape }}</strong>
                                                    <button
                                                            type="button"
                                                            class="btn-close"
                                                            data-bs-dismiss="alert"
                                                            aria-label="Close"
                                                    ></button>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger alert-dismissible fade show mt-3"
                                                 role="alert">
                                                <strong>{{ error|escape }}</strong>
                                                <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="alert"
                                                        aria-label="Close"
                                                ></button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="form-group   form-outline mb-4">
                                        <label for="select-control">Sujet</label>
                                        {{ form.category }}
                                    </div>
                                    <div class="form-group">
                                        <label for="text-area">Corps de message</label>
                                        {{ form.question }}
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary mt-4">
                                        Envoyer
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
