{% extends "__base.html" %} {% load static %} {% block body %}

<main class="container">
  <div class="row h-100">
    <aside
      class="col-md-2 bg-light h-100 p-0 d-flex justify-content-center align-items-center"
    >
      {% include "__sidebar.html" %}
    </aside>
    <section class="col-md-10 ps-5 py-5">
      <div class="row">
        <nav class="col-12" aria-label="breadcrumb">
          <ol class="breadcrumb d-flex bg-white mt-5 p-2">
            <li class="breadcrumb-item">
              <a class="text-decoration-none" href="#">Tableau de bord</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Poser une question
            </li>
          </ol>
        </nav>
      </div>
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body p-4">
            <div class="card-title fs-4 fw-semibold">Poser une question</div>
            <div class="row">
              <form>
                <div class="form-group">
                  <label for="select-control">Sujet</label>
                  <select
                    class="form-control form-control-lg border-primary"
                    id="select-control"
                  >
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="text-area">Corps de message</label>
                  <textarea
                    class="form-control form-control-lg border-primary"
                    id="text-area"
                    rows="10"
                  ></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-primary mt-4">
                  Envoyer
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
