{% extends "__base.html" %} {% load static %} {% block title %}Faq{% endblock %} {% block body %}

    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-4">J'ai des&nbsp;<span class="underline">questions&nbsp;</span>?</h2>
                    <p class="text-muted">Notre équipe est toujours là pour vous aider. Envoyez-nous un message et nous vous répondrons
                        prochainement.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div>
                        <form class="p-3 p-xl-4" action="{% url 'faq' %}" method="post">
                                 {% csrf_token %}

                                                 {% if success %}
                                        <div class="alert alert-info alert-dismissible fade show mt-3"
                                             role="alert">
                                            <strong>{{ success }}</strong>
                                            <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="alert"
                                                    aria-label="Close"
                                            ></button>
                                        </div>
                                    {% endif %}
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show mt-3"
                                                     role="alert">
                                                    <strong>{{ error|escape }}</strong>
                                                    <button
                                                            type="button"
                                                            class="btn-close"
                                                            data-bs-dismiss="alert"
                                                            aria-label="Close"
                                                    ></button>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger alert-dismissible fade show mt-3"
                                                 role="alert">
                                                <strong>{{ error|escape }}</strong>
                                                <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="alert"
                                                        aria-label="Close"
                                                ></button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                            <div class="mb-3">
                                 <div class="form-group form-outline">
                                   <label for="select-control">Auteur</label>
                                {{ form.author }}
                                 </div>
                            </div>
                            <div class="mb-3">
                                      <div class="form-group form-outline">
                                 <label for="select-control">Catégorie</label>
                                {{ form.category }}
                                      </div></div>
                            <div class="mb-3">
                                      <div class="form-group form-outline">
                                <label for="select-control">Corps de message</label>
                                {{ form.question }}
                                      </div>
                            </div>
                            <div>
                                <button class="btn btn-primary shadow d-block w-100" type="submit">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-4 py-xl-5 mb-5">
        <div class="container">
            <div class="row mb-2">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-5"><span class="pb-3 underline">FAQ<br></span></h2>
                    <p class="text-muted mb-5">Foire aux questions</p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-8 mx-auto">

                {% regroup ticket_items by  question.category as tickets_list %}
                    {% for item in tickets_list %}
                    <div class="mb-4">
                        <span class="badge bg-warning rounded-bottom-left text-uppercase text-primary fw-bold p-2">{{ item.grouper }}</span>
                        <div class="accordion text-muted" role="tablist" id="accordion-{{ forloop.counter }}">
                            {% for ticket in item.list %}
                            <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#accordion-{{ forloop.parentloop.counter }} .item-{{ forloop.counter }}"
                                                aria-expanded="true"
                                                aria-controls="accordion-{{ forloop.parentloop.counter }} .item-{{ forloop.counter }}">{{ ticket.question.question }}</button>
                                    </h2>
                                    <div class="accordion-collapse collapse show item-{{ forloop.counter }}" role="tabpanel"
                                         data-bs-parent="#accordion-{{ forloop.parentloop.counter }}">
                                        <div class="accordion-body">
                                            <p class="mb-0">{{ ticket.answer }}</p>
                                        </div>
                                    </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}

                </div>
            </div>
        </div>
    </section>

{% endblock %}
