{% extends "__base.html" %} {% load static %} {% block title %}Accueil{% endblock %} {% block body %}
    {% include "__header.html" %}
    <!--highlight-->
    {% if scenarios|length %}
        <section id="highlight" class="py-4 py-xl-5">
            <div class="container">

                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for scenario in scenarios %}
                            <li data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                                class="{% if forloop.first %} active {% endif %}"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for scenario in scenarios %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                <div class="{% if forloop.counter|divisibleby:2 %} bg-secondary {% else %} bg-primary {% endif %} border rounded border-0 border-primary overflow-hidden">
                                    <div class="row g-0">
                                        <div class="col-md-6 d-flex flex-column justify-content-center">
                                            <div class="text-white p-4 p-md-5">
                                                <h2 class="fw-bold text-white mb-3">{{ scenario.title }}</h2>
                                                <p class="mb-4">{{ scenario.description|truncatechars:120 }}</p>
                                                <div class="my-3"><a class="btn btn-warning me-2 mt-2" role="button"
                                                                     href="{% url 'booking' slug=scenario.slug %}">Réserver</a><a
                                                        class="btn btn-light mt-2"
                                                        role="button"
                                                        href="{% url 'scenario' slug=scenario.slug %}">En savoir
                                                    plus</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 order-first order-md-last d-none d-md-block" style="min-height: 250px;">
                                            <img class=" float-md-end fit-contain pt-5 pt-md-0 me-5 mt-4"
                                                 src="static/img/puzzle.png" height="250"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button"
                       data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button"
                       data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </section>
    {% endif %}
    <!--highlight-->
    <!--about-->
    <section id="about" class="py-4">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-12">
                    <h3 class="display-6 fw-bold pb-md-4">{{ min_participant.min_participant__min }}
                        à {{ max_participant.max_participant__max }} joueurs,
                        <span class="underline">{{ scenarios|length }} escape rooms & aventures immersives</span>
                    </h3>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col">
                    <div class="card border-light border-1 d-flex justify-content-center p-4">
                        <div class="img-square-wrapper">
                            <img
                                    src="/static/img/map.jpg"
                                    alt="Card image cap"
                                    style="width: 100%; object-fit: cover;"
                            />
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="12" r="4"></circle>
                                        <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                                    </svg>
                                    <h5 class="fw-bold mb-0 ms-2">Coopération</h5>
                                </div>
                                <p class="text-muted my-3">Jeu d'évasion immersif !</p>
                                <a href="{% url 'scenario' slug=scenarios.first.slug %}">En savoir plus&nbsp;</a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round"
                                     class="icon icon-tabler icon-tabler-arrow-narrow-right fs-3">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <line x1="15" y1="16" x2="19" y2="12"></line>
                                    <line x1="15" y1="8" x2="19" y2="12"></line>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-light border-1 d-flex justify-content-center p-4">
                        <div class="img-square-wrapper">
                            <img
                                    src="/static/img/clock.jpg"
                                    alt="Card image cap"
                                    style="width: 100%; object-fit: cover;"
                            />
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="12" r="4"></circle>
                                        <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                                    </svg>
                                    <h5 class="fw-bold mb-0 ms-2">Communication</h5>
                                </div>
                                <p class="text-muted my-3">Jeu d'évasion immersif !</p>
                                En savoir plus&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                         fill="none" stroke-linecap="round" stroke-linejoin="round"
                                                         class="icon icon-tabler icon-tabler-arrow-narrow-right fs-3">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                            </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-light border-1 d-flex justify-content-center p-4">
                        <div class="img-square-wrapper">
                            <img
                                    src="/static/img/room.jpg"
                                    alt="Card image cap"
                                    style="width: 100%; object-fit: cover;"
                            />
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="12" r="4"></circle>
                                        <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                                    </svg>
                                    <h5 class="fw-bold mb-0 ms-2">Partage</h5>
                                </div>
                                <p class="text-muted my-3">Jeu d'évasion immersif !</p>
                                En savoir plus&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                         fill="none" stroke-linecap="round" stroke-linejoin="round"
                                                         class="icon icon-tabler icon-tabler-arrow-narrow-right fs-3">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <line x1="15" y1="16" x2="19" y2="12"></line>
                                <line x1="15" y1="8" x2="19" y2="12"></line>
                            </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--about-->
    <!--price-->
    {% if discounts|length %}
        <section id="price" class="py-5">
            <div class="container py-4 py-xl-5">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2 class="display-6 fw-bold mb-4">Les bons plans<br><span
                                class="underline">sur les Tarifs</span></h2>
                        <p class="text-muted">Paradox Escape game dispose d'un tarif dégressif selon le nombre de
                            joueurs.</p>
                    </div>
                </div>
                <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
                    {% for row in discounts %}
                        <div class="col">
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="card border-warning border-2 h-100">
                                    <div class="card-body d-flex flex-column justify-content-between p-4">
                                        <div>
                                            <h6 class="fw-bold text-muted">Remise dès {{ row.step }} joueurs</h6>
                                            <h4 class="display-5 fw-bold mb-4">
                                                ${{ row.discount|floatformat:"0" }}</h4>
                                            <ul class="list-unstyled">
                                                {% for itr in row.scenarios.all %}
                                                    <li class="d-flex mb-2"><span
                                                            class="bs-icon-xs bs-icon-rounded bs-icon me-2"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em"
                                                            viewBox="0 0 24 24" stroke-width="2"
                                                            stroke="currentColor"
                                                            fill="none" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="icon icon-tabler icon-tabler-check fs-5 text-primary">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M5 12l5 5l10 -10"></path>
                                            </svg></span><span>{{ itr }}</span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <a class="btn btn-warning" role="button" href="#">Réserver</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="card border-0 h-100">
                                    <div class="card-body d-flex flex-column justify-content-between p-4">
                                        <div>
                                            <h6 class="fw-bold text-muted">Remise dès {{ row.step }} joueurs</h6>
                                            <h4 class="display-5 fw-bold mb-4">
                                                ${{ row.discount|floatformat:"0" }}</h4>
                                            <ul class="list-unstyled">
                                                {% for itr in row.scenarios.all %}
                                                    <li class="d-flex mb-2"><span
                                                            class="bs-icon-xs bs-icon-rounded bs-icon me-2"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em"
                                                            viewBox="0 0 24 24" stroke-width="2"
                                                            stroke="currentColor"
                                                            fill="none" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="icon icon-tabler icon-tabler-check fs-5 text-primary">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M5 12l5 5l10 -10"></path>
                                            </svg></span><span>{{ itr }}</span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <a class="btn btn-primary" role="button" href="#">Réserver</a>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    {% endfor %}


                </div>
            </div>
        </section>
    {% endif %}
    <!--price-->
    <!--faq-->
    <section id="faq" class="py-4 py-xl-5 mb-5">
        <div class="container">
            <div class="row mb-2">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-5"><span class="pb-3 underline">FAQ<br></span></h2>
                    <p class="text-muted mb-5">Foire aux questions</p>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-8 mx-auto">

                    {% regroup ticket_items by question.category as tickets_list %}
                    {% for item in tickets_list %}
                        <div class="mb-4">
                            <span class="badge bg-warning rounded-bottom-left text-uppercase text-primary fw-bold p-2">{{ item.grouper }}</span>
                            <div class="accordion text-muted" role="tablist" id="accordion-{{ forloop.counter }}">
                                {% for ticket in item.list %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" role="tab">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#accordion-{{ forloop.parentloop.counter }} .item-{{ forloop.counter }}"
                                                    aria-expanded="true"
                                                    aria-controls="accordion-{{ forloop.parentloop.counter }} .item-{{ forloop.counter }}">{{ ticket.question.question }}</button>
                                        </h2>
                                        <div class="accordion-collapse collapse show item-1" role="tabpanel"
                                             data-bs-parent="#accordion-1">
                                            <div class="accordion-body">
                                                <p class="mb-0">{{ ticket.answer }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="py-4 py-xl-5">
        <div class="container">
            <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5">
                <div class="pb-2 pb-lg-1">
                    <h2 class="fw-bold text-warning mb-2">Trouver des réponses aux question courantes ?</h2>
                    <p class="mb-0">Obtenez des réponses rapides aux questions les plus courantes sur la réservation
                        de votre Escape game.</p>
                </div>
                <div class="my-2"><a class="btn btn-light fs-5 py-2 px-4" role="button" href="{% url 'faq' %}">En
                    savoir plus</a></div>
            </div>
        </div>
    </section>
    <!--faq-->
{% endblock %}
