{% extends "__base.html" %} {% load static %} {% block body %}

    <main>
        <section class="h-100 h-custom bg-light">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-8 col-xl-6">
                        <div class="card rounded-3">
                            <img
                                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                                    class="w-100"
                                    style="
                border-top-left-radius: 0.3rem;
                border-top-right-radius: 0.3rem;
              "
                                    alt="Sample photo"
                            />
                            <div class="card-body p-4 p-md-5">
                                <h3 class="pb-2 pb-md-0 mb-md-5 px-md-2">Créer un compte</h3>

                                <form action="{% url 'register' %}" method="post" class="px-md-2">
                                    {% csrf_token %}
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show mt-3"
                                                     role="alert">
                                                    <strong>{{ error|escape }}</strong>
                                                    <button
                                                            type="button"
                                                            class="btn-close"
                                                            data-bs-dismiss="alert"
                                                            aria-label="Close"
                                                    ></button>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger alert-dismissible fade show mt-3"
                                                 role="alert">
                                                <strong>{{ error|escape }}</strong>
                                                <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="alert"
                                                        aria-label="Close"
                                                ></button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    <div class="form-group form-outline mt-4 mb-4">{{ form.email }}</div>

                                    <div class="form-group form-outline mb-4">
                                        {{ form.first_name }}
                                    </div>

                                    <div class="form-group form-outline mb-4">
                                        {{ form.last_name }}
                                    </div>

                                    <div class="form-group form-outline mb-4">
                                        {{ form.password }}
                                    </div>

                                    <div class="form-group form-outline mb-4">
                                        {{ form.confirmation }}
                                    </div>

                                    <button
                                            type="submit"
                                            class="btn rounded-pill btn-primary btn-lg mb-1 mt-2 w-100"
                                    >
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
