<div class="col-md-12">
  <form action="">
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Nombre participants</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50</td>
            <td>5</td>
            <td>100</td>
          </tr>
          <tr>
            <td colspan="2">Remise prix calculé</td>
            <td>-20</td>
          </tr>
          <tr>
            <th scope="row" colspan="2"></th>
            <td>Total: 80€</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-lg btn-primary mt-4 float-end">
      Suivant
    </button>
  </form>
</div>
