<div class="col-md-12">
  <form>
    <div class="row">
      <div class="col-md-8">
        <select
          class="form-select form-select-lg border-primary mb-3"
          aria-label=".form-select-lg example"
          placeholder="Choix du scenario"
          id="scenario-choice"
        >
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control form-control-lg border-primary"
          placeholder="Nombre participant"
        />
      </div>
    </div>
    <div class="row container-calendar py-5">
      <div class="col-md-12 pb-5">
        <nav
          class="d-flex justify-content-center"
          aria-label="Page navigation example"
        >
          <ul class="pagination">
            <li class="page-item">
              <a class="p-3 page-link" href="#"
                ><em class="fa fa-chevron-left"></em
              ></a>
            </li>
            <li class="page-item">
              <a class="p-3 page-link" href="#">Juillet 2022</a>
            </li>
            <li class="page-item">
              <a class="p-3 page-link" href="#"
                ><em class="fa fa-chevron-right"></em
              ></a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-md-12">
        <table class="calendar" aria-label="calendar">
          <thead>
            <tr>
              <th scope="col" colspan="2" class="bg-secondary">Juillet 2022</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="vertical-align: top">
                <table class="week-number" aria-label="test_1">
                  <thead>
                    <tr>
                      <th scope="col">Semaine</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>4</td>
                    </tr>
                    <tr>
                      <td>5</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td style="vertical-align: top">
                <table class="calendar-days" aria-label="test_2">
                  <thead>
                    <tr>
                      <th scope="col">L</th>
                      <th scope="col">M</th>
                      <th scope="col">M</th>
                      <th scope="col">J</th>
                      <th scope="col">V</th>
                      <th scope="col">S</th>
                      <th scope="col">D</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                      <td>6</td>
                      <td>7</td>
                      <td>8</td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td>10</td>
                      <td>11</td>
                      <td>12</td>
                      <td>13</td>
                      <td>14</td>
                      <td>15</td>
                    </tr>
                    <tr>
                      <td>16</td>
                      <td>17</td>
                      <td>18</td>
                      <td>19</td>
                      <td>20</td>
                      <td>21</td>
                      <td>22</td>
                    </tr>
                    <tr>
                      <td>23</td>
                      <td>24</td>
                      <td>25</td>
                      <td>26</td>
                      <td>27</td>
                      <td>28</td>
                      <td>29</td>
                    </tr>
                    <tr>
                      <td>30</td>
                      <td>31</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <select
          class="form-select form-select-lg border-primary mb-3"
          aria-label=".form-select-lg example"
          placeholder="Heure du scenario"
        >
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control form-control-lg border-primary"
          placeholder="Prix"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-primary mt-4 float-end">
      Suivant
    </button>
  </form>
</div>
