@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald-Medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald-Regular.ttf);
  font-weight: regular;
}

@font-face {
  font-family: DMSans;
  src: url(../fonts/DMSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: DMSans;
  src: url(../fonts/DMSans-Medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: DMSans;
  src: url(../fonts/DMSans-Regular.ttf);
  font-weight: regular;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: inherit;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  font-family: 'DMSans';
}

h1,
h2 {
  font-family: 'Oswald';
}

h3,
h4,
h5 {
  font-family: 'DMSans';
}

button,
input,
optgroup,
select,
textarea,
form-select {
  font-family: inherit;
}

.form-select option {
  font-family: 'DMSans';
}

small {
  font-size: 0.6em;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .show + div {
  width: 100%;
}

.bg-welcome {
  background: linear-gradient(rgba(1, 111, 185, 1), rgba(1, 111, 185, 0.8)),
    url(../img/puzzle.jpg) rgba(1, 111, 185, 0.8) 50%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.bg-highlight,
.bg-about,
.bg-social {
  background-color: #fff;
}

.bg-price {
  background-color: #f2f2f2;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 10px;
  color: #000;
  content: url(../img/svg/arrow-right.svg);
}

.circle {
  padding: 5px;
  background: url(../img/svg/circle.svg) no-repeat center center;
  height: 50px;
  width: 50px;
}

.table-details > :not(caption) > * > * {
  border: none;
}

/*******************/
/**** calendar *****/
/*******************/
table.calendar,
table.week-number,
table.calendar-days {
  width: 100%;
  height: 100%;
}

.calendar > thead > tr > th {
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  border-bottom: transparent;
}

.calendar > tbody > tr > td {
  padding: 0;
  margin: 0;
}

table.week-number > thead > tr > th,
table.calendar-days > thead > tr > th,
table.week-number > tbody > tr > td,
table.calendar-days > tbody > tr > td {
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}

table.calendar-days > thead > tr > th,
table.calendar-days > tbody > tr > td {
  border-left: transparent;
}
