{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/font-awesome.css' %}"
    />

    <script
      src="{% static 'js/bootstrap.js' %}"
      type="text/javascript"
    ></script>

    {% block head %} {% endblock %}
  </head>
  <body>
    <div id="root">
      <header class="bg-primary">
        {% include "__header.html" %}
      </header>
      {% block body %} {% endblock %}
      <footer class="bg-primary">
        {% include "__footer.html" %}
      </footer>
    </div>
  </body>
</html>
