{% load tags %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 mb-5">
            <div class="row">
                <div class="col-md-6 col-lg-3 mt-3 mb-md-0">
                    <h2 class="footer-heading text-info">
                        PARADOX
                        <span class="text-light">Escape Game</span>
                    </h2>
                </div>
                <div class="col-md-6 col-lg-4 mt-3 mb-md-0 pe-2 pe-lg-4">
                    <h2 class="footer-heading text-light">Pret pour votre aventure</h2>
                    <div class="block-21 mb-4 d-flex">
                        <div class="text text-light">
                            <p>
                                A small river named Duden flows by their place and supplies it
                                with the necessary regelialia. It is a paradisematic country, in
                                which roasted parts of sentences fly into your mouth.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 mt-3 mb-md-0">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 border-start border-light">
                            <h3 class="footer-heading text-light">Scenario</h3>
                            <ul class="list-unstyled">
                                {% for scenario in footer_scenario %}
                                    <li>
                                        <a
                                                href="{% url 'scenario' slug=scenario.slug %}"
                                                class="py-2 d-block text-light text-decoration-none"
                                        >
                                            {{ scenario.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-12 col-lg-6 border-light">
                            <h3 class="footer-heading text-light">Site</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <a
                                            href="{% anchor 'home' 'about' %}"
                                            class="py-2 d-block text-light text-decoration-none"
                                    >
                                        A propos
                                    </a>
                                </li>
                                <li>
                                    <a
                                            href="{% anchor 'home' 'price' %}"
                                            class="py-2 d-block text-light text-decoration-none"
                                    >
                                        Tarifs
                                    </a>
                                </li>
                                <li>
                                    <a
                                            href="{% url 'booking' %}"
                                            class="py-2 d-block text-light text-decoration-none"
                                    >
                                        Réservations
                                    </a>
                                </li>
                                <li>
                                    <a
                                            href="{% url 'faq' %}"
                                            class="py-2 d-block text-light text-decoration-none"
                                    >
                                        Faq
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="copyright text-light">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                Privacy Terms
            </p>
        </div>
    </div>
</div>
