<div class="d-flex flex-column flex-shrink-0 flex-grow-1 bg-light">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a
        href="#"
        class="nav-link active py-3 border-bottom"
        aria-current="page"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Home"
      >
        <img class="p-2" src="/static/img/svg/task.svg" alt="image3" />
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link py-3 border-bottom"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Dashboard"
      >
        <img class="p-2" src="/static/img/svg/setting.svg" alt="image3" />
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link py-3 border-bottom"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Dashboard"
      >
        <img class="p-2" src="/static/img/svg/chat.svg" alt="image3" />
      </a>
    </li>
  </ul>
</div>
